@tailwind base;
@tailwind components;
@tailwind utilities;

html{
    margin: 0px 50px 0px 50px;
    background-color: #0f172a;
    color: #8892b0;
    font-family: "Inter", sans-serif;
    line-height: 1.5rem; 
}

h1{
    font-family: "Protest Strike", sans-serif;
    font-weight: 400;
    font-style: normal;
    color:white
}